
@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_medium.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display:flex;
  justify-content: center;
  font-family: 'Gotham Pro', sans-serif;
  background-color: #282533;
  color: white;
}



.App {
  text-align: center;
}

.container {
  max-width: 1920px;
  display: grid;
  grid-template-rows: 648px auto;
  min-height: 4232px;
}

.header {
  display: grid;
  grid-template-rows: 80px auto;
  color:white;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 250px;
  background: linear-gradient(90.09deg, #9E0B37 0.98%, #FFC531 72.22%, #9E0B37 99.95%);
  align-items: center;
  font-family: "Gotham Pro"; 
  font-style: normal;
}
.abel{
  font-family: 'Abel';
  font-size: 16px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  
}

.menu li {
  margin-right: 20px;
}

.nav div {
  display: flex; 
  gap: 10px; 
}
.registration {
  width: 160px;
  height: 49px;
  background: linear-gradient( rgba(237, 174, 174) 1%, #9E0B37B3 97%);
  border-radius: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: relative;
}

.registration:hover {
  background: linear-gradient(180deg, rgba(185, 100, 100, 0.7) 0%, rgba(158, 11, 55, 0.9) 100%);
}
.headerGradient {
  display: flex;
  width: 100%;
  height: 568px;
  position: relative;
  overflow: hidden; 
  background: 
  linear-gradient(120deg, #DF5017 4.42%, rgba(223, 80, 23, 0.19) 22.08%, rgba(223, 80, 23, 0.05) 35.36%, rgba(223, 80, 23, 0) 52.74%), 
  linear-gradient(90deg, #282533 45.15%, rgba(40, 37, 51, 0.5) 60%, rgba(40, 37, 51, 0.2) 80%, rgba(40, 37, 51, 0) 100%);



}

/* .gradientPic {
  position: relative; 
  z-index: 100; 
  width: 80%; 
  background: linear-gradient(90.01deg, #282533 65.15%, #282533 65.15%, rgba(40, 37, 51, 0.739583) 82.21%, rgba(40, 37, 51, 0) 99.99%),
              linear-gradient(123.33deg, #DF5017 4.42%, rgba(223, 80, 23, 0.440343) 22.08%, rgba(223, 80, 23, 0.19) 35.36%, rgba(223, 80, 23, 0) 52.74%);
  height: 568px;
  display: flex;
  align-items: center;
} */

.headerImg {
  position: relative; 
  z-index: -100; 
  width: 1070px; 
  height: auto; 
  background:url("https://s3-alpha-sig.figma.com/img/ca6f/a705/4e5c15ba203d173dda684e08217a74d9?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WUrrQ02vUO3DQk64rN-poJpdHRfHjD~n~~f2nP75cT9pvtAwLdYlrV2PxuKZ~zCFaKT5PhcUgT8DNkI2PXd19L5yxiwbTHfXZFzmDjDuiUxkpLhY3Cl3L~SciphhukIY7ireC02yadEuHPuijdmNynTXL~fuyEibrplyzDPCBCeO0kaYKOfdYTayEfmhfTBO1CWTqTPtVwHuuInvV2bM4q3UG~RQcteG3vEImTQ8f9glMfCkM5qhqyZ61eD0QlNBmdgokLWgxlTGr0COa8AhDjb-YvcLs8f~Ip37s3DaDsjMbOV3ovNmIoL4pwId~uKCZ298kdMAhspd-K-8N40jPg__");
  background-size: cover;
  margin-top: -390px; 
  margin-left: 850px;
}
.main{
  display: flex;
  flex-direction: column;
  gap:60px;
  background: rgb(18, 16, 26);
}
.mainContent{
  display: flex;
  flex-direction: column;
  max-width: 1180px;
  height: auto;
  margin-top: 100px;
  margin-left: 250px;
}
.title{
position: absolute;
width: 820px;
height: 120px;
top: 183px;
left: 200px;
font-size: 35px;
font-weight: 400;
line-height: 60px;
text-align: left;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 910px; 
  margin-left:20px;
}

.image-container {
  width: 220px;
  height: 220px; 
  overflow: hidden; 
  position: relative; 
  border-radius: 14.35px;
}

.image-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.descriptionAndCircle{
  position: absolute;
  display:flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 35.87px;
  width: 207px; 
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
  border: 1px solid white;
  border-radius: 23.91px;
  background: rgba(18, 16, 26, 0.7);
  font-family: "Gotham Pro";
  bottom:10px;
  left:10px;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.87px;
  height: 35.87px;
  border-radius: 50%;
  background: linear-gradient(91.25deg, #DF5017 -4.25%, #F9CB74 108.11%);
}
.circle:hover{
  background: linear-gradient(91.25deg, #c93b04 -4.25%, #F9CB74 108.11%);

}
.firstP{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1180px;
  height: 152px;
  border-radius: 30px;
  background: linear-gradient(90.95deg, #FFA462 0%, #B45350 21.79%, #8A2645 48.93%, #291725 84.55%);
  color:white;
  font-family: "Gotham Pro";
  font-weight: 400;
  line-height: 30.8px;
  text-align:left;
  font-size: 22px;
  padding: 30px;

}
.secondP{
  width: 1060px;
  height: 62px;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
  color: white;
  

}
.adobeimages{
  display: flex;
  flex-wrap: wrap;
  width: 886px;
  height: 144px;
  justify-content: space-between;
}
.adobeimg{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 62px;
  border-radius: 12px;
  background: white;
}
.ImgAdobe{
  width: 135px;
height: 40px;
top: 1156px;
left: 437px;
}
.error{
  display: flex;
  justify-content: center;
  gap: 100px;
}
.errorImg1{
  width: 255px;
  height: 157px;
  border-radius: 5px;
  opacity: 0px;
  rotate: -7deg;

}
.errorImg2{
  width: 255px;
  height: 157px;
  border-radius: 5px;
  opacity: 0px;
  rotate: 6deg;
  margin-top: 10px;

}
.thirdP{
  width: 1180px;
  height: 155px;
  font-family: "Gotham Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: left;
  color: white;
 

}
.ai{
  display: flex;
  width: 775px;
  height: 97px;
  justify-content: space-between;
  margin-top:25px;
  margin-left:330px;


}
.aiCircle{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 width: 97px;
 height: 97px;
 background: linear-gradient(147.64deg, #FFFFFF 30.8%, #C1C0C4 57.13%, #86848D 72.92%, #343140 82.7%);
 border-radius:50%;

}
.booklets{
  display: flex;
  width: 100%;
  margin-top: -67px;
  z-index: 0;
}
.bookletsImg{
  width: 246px;
  height: 350px;
  border-radius: 10px ;
}

.animation{
  display: flex;
  gap:10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anime{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;

}

.animImg1 {
  width: 402.5px;
  height: 280px;
  border-radius: 20px;
  margin: 0 10px;
  position: relative;
  animation: moveRight 15s  ease-out infinite;
}

@keyframes moveRight {
  0% {
    left: 0; 
  }
  100% {
    left: 100%; 
  }
  0% {
    left: 0; 
  }
  
}
.animImg2 {
  width: 402.5px;
  height: 280px;
  border-radius: 20px;
  margin: 0 10px;
  position: relative; 
  animation: moveleft 15s  ease-in-out infinite;; 
}
@keyframes moveleft {
  0% {
    right: 0; /* Սկիզբը */
  }
  100% {
    right: 100%; /* Կրիպտել 100% (առաջ) */
  }
  0% {
    right: 0; /* Սկիզբը */
  }
  
}
